<div class="location-timezone">
  <strong>{{ loc_time }}</strong>
  <div>{{ loc_date }}</div>
  <div>{{ 'Time Format:'|t }} {{ loc_total_time }}</div>
  <div>{{ 'Time in'|t }} {{ loc_city }}, {{ loc_country }}</div>
</div>